body {
    font-family: "Cairo";
    background: #f0f0f0;
    padding: 20px;
}

h1 {
    background: #0a3d62;
    padding: 15px;
    color: white;
    text-align: center;
}

.admin-section {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
}

button {
    padding: 10px;
    background: #0a3d62;
    color: white;
    border: none;
    border-radius: 5px;
}
